@import './color';
@import './shapes';
@import './typography';

@mixin btn-filter {
  background: $white;
  height: 40px;
  width: 190px;
  border: 1px solid $grey-4;
  padding: 3px 8px 3px 16px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  @include btn-normal;
  @include lato-regular-13;
  transition: all 300ms ease;
  & > * {
    transition: all 300ms ease;
  }
}

@mixin btn-search {
  background: $white;
  height: 31px;
  border: none;
  color: $primary-color;
  padding: 3px 16px;
  outline: none;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  @include btn-bold;
}
@mixin btn-search-filter {
  background: $primary-color;
  height: 36px;
  color: $white;
  padding: 4px 37px;
  border-radius: 4px;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  @include lato-regular-13;
  line-break: 18px;
}
@mixin btn-search-addStructure {
  @include btn-bold-underline;
  color: $primary-color;
  outline: none;
}
@mixin btn-grey {
  border: 1px solid $grey-4;
  box-sizing: border-box;
  border-radius: 6px;
  background: $white;
  color: $grey-1;
  border: 1px solid $grey-1;
  cursor: pointer;
  @include lato-regular-12;
  line-height: 18px;
  padding: 8px 15px;
}
@mixin btn-red {
  border-radius: 6px;
  background: $red;
  color: $white;
  cursor: pointer;
  @include lato-regular-12;
  line-height: 18px;
  padding: 8px 15px;
}

.btn-primary {
  background: $primary-color;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: 0;
  color: $white;
  height: 40px;
  width: 192px;
  @include btn-bold;
  stroke: $white;
  border: 1px solid $grey-1;
  &.small {
    width: 149px;
  }
  &.invalid {
    opacity: 0.4;
  }
  &:focus {
    background: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
    stroke: $primary-color;
  }
}

.btn-grid {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags-cloud {
  font-style: normal;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: 20px;
  padding: 5px 15px;
  color: $white;
  border-style: none;
  margin-top: 5px;
  background: $grey-1;
  &.unchecked {
    background: $grey-4;
  }
}
