$black: #000000;
$white: #ffff;
$white-1: #e5e5e5;
/*  GREYS  */
$grey: #b4bbbf;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #696969;
$grey-4: #bdbdbd;
$grey-5: #dedede;
$grey-6: #e9e9e9;
$grey-7: #f4f4f4;
$grey-8: #f8f8f8;
/* REDS */
$red: #da3635;
$red-dark: #b85959;
$red-1: #f35453;
/* GOLD */
$gold: #bd9e6a;
/* form colors */
$green-1: #47c562;
/* Status colors */
$green: #41c29c;
$orange-warning: #da6c2e;
/* OTHERS */
$blue: #348899;
$blue-ultra-light: #eaf8fb;
$blue-light: #c9ecf3;
/* APP COLORS */
$primary-color: $red;
$primary-color-dark: $red-dark;
$primary-color-light: #fef0f0;
$default-link-color: $grey-2;
$button-secondary: $red-dark;
$app-background: $grey-8;
$modal-background: rgba($grey-1, 0.75);
$app-background: $grey-8;
$ram-hover-principal: $primary-color;
$scrollbar-track: rgba($grey-8, 0.65);
$scrollbar-thumb: $grey-4;
$focus-color: $grey-1;
