$map-selected-marker: 600;
// Phone view
$btn-phone-switch-map-list-z-index: 1002;
$menu-phone-z-index: 1003;

// Structure details
$structure-details-z-index: 1001;

// Modals (filters/confirmationPopup/authen/...)
$modal-z-index: 1004;
